.header{
    max-height: 950px;
}
.header-main{
    padding: 16px 0;
}
.header-logo__image{
    max-width: 176px;
    max-height: 44px;
}


.header-action__icon{
    width: 24px;
}


.banner-title{
    margin-bottom: 30px;
}
.banner-action{
    margin-top: 70px;   
}
.button__play{
    padding: 18px 20px;
}
.banner-user__image{
}
.service-wrapper{
    margin-top: 80px;
}