
/* 
page section banner
*/
.page-section__height{
    min-height: 870px;
  }
  .banner-content {
    max-width: 770px;
    margin: 0 auto;
  }
  
  .banner-content__text {
    margin-top: 39px;
    margin-bottom: 70px;
  }
  .banner-action {
    gap: 10px;
  }
  .button-action__primary {
    padding: 16px 32px;
  }
  .button-play {
    background: var(--color-white);
    box-shadow: var(--shadow-primary);
    width: 52px;
    height: 52px;
  }
  .button-play__text {
    margin-left: 7px;
  }
  
  .wrapper-image__spacing{
    top: 99px;
  }
  
  /* 
  box background
  */
  .bg-width__big {
    width: 250px;
    height: 250px;
  }
  .bg-width__large{
    width: 200px;
    height: 200px;
  }
  .bg-width__medium{
    width: 170px;
    height: 170px;
  }
  
  .bg-width__small{
    width: 150px;
    height: 150px;
  }
  .bg-width__little{
    width: 60px;
    height: 60px;
  }
  
  /* 
  radius 
  */
  
  .radius-bottom__left{
    border-radius: 50% 50% 0 50%;
  }
  
  .intro-item {
    padding: 18px 14px 0 14px;
   
  }
  .intro-item__img {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
  
  
  /* 
  after
  */
  .after--big__bottom--right::after {
    --bg-style : 100px;
    content: "";
    position: absolute;
    width: var(--bg-style);
    height: var(--bg-style);
    background: var(--color-main-purple);
    right: calc(-10px - var(--bg-style));
    bottom: 0;
    border-radius: 50% 50% 50% 0;
  }
  .after--large__bottom--right::after {
    --bg-style: 80px;
    content: "";
    position: absolute;
    width: var(--bg-style);
    height:var(--bg-style);
    background: var(--color-main-purple);
    right: calc(-10px - var(--bg-style));
    bottom: 0;
    border-radius: 50% 50% 50% 0;
  }
  .after--large__bottom--left::after {
    --bg-style: 80px;
    content: "";
    position: absolute;
    width: var(--bg-style);
    height:var(--bg-style);
    background: var(--color-main-turquoise);
    bottom: 0;
    left:  calc(-10px - var(--bg-style));
    border-radius:50% 50% 0 50% ;
  }
  .after--large__bottom--left__blue::after {
    --bg-style: 80px;
    content: "";
    position: absolute;
    width: var(--bg-style);
    height:var(--bg-style);
    background: var(--color-main-purple);
    bottom: 0;
    left:  calc(-10px - var(--bg-style));
    border-radius:50% 50% 0 50% ;
  }
  .after--medium__bottom--right::after {
    --bg-style : 70px;
    content: "";
    position: absolute;
    width: var(--bg-style);
    height: var(--bg-style);
    background: var(--color-main-purple);
    right: calc(-10px - var(--bg-style));
    bottom: 0;
    border-radius: 50% 50% 50% 0;
  }

  .after--medium__top--right::after {
    --bg-style : 70px;
    content: "";
    position: absolute;
    width: var(--bg-style);
    height: var(--bg-style);
    background: var(--color-main-purple);
    top: 0;
    bottom: 0;
    left: calc(-10px - var(--bg-style));
    border-radius: 50% 50% 0 50% ;
  }
  
  .after--small__bottom--right::after {
    --bg-style : 60px;
    content: "";
    position: absolute;
    width: var(--bg-style);
    height: var(--bg-style);
    background: var(--color-main-purple);
    right: calc(-10px - var(--bg-style));
    bottom: 0;
    border-radius: 50% 50% 50% 0;
  }
  
  /* 
  absolute
  */
  .service-wrapper{
    margin-bottom: 70px;
  }

  .service-card{
    padding: 42px 50px 65px 50px;
  }
  .service-card__img{
    width: 90px;
    height: 90px;
  }
  .service-card__title{
    margin-bottom: 22px;
  }
.brand__list{
  margin-top: 80px;
  gap: 105px;
}
  .brand__image{
    max-width: 150px;
    object-fit: contain;
  }
.benefit-wrapper{
  max-width: 1300px;
  margin: 0 auto;
  padding-inline: 65px;
}
.benefit-card__image{
  width: 70px;
  height: 70px;
}
.featured-card__body{
  margin-top: 40px;
}
.featured-card__headingsub{
  margin-top: 25px;
}
.featured-content{
  padding-inline: 100px;
  padding-top: 50px;
}
.featured-content__headingsub{
  margin-top: 40px;
  margin-bottom: 60px;
}
.featured-content__button{
  margin-top: 90px;
}
.featured__button__prc , .featured__button__append{
  padding: 20px 24px;
}
.office-figure{
  margin-top: 330px;
}
.office-image{
  max-width: 870px;
  max-height: 450px;
}
.office-space{
  top: -250px;
  max-width: 570px;
  left: 0;
  padding: 60px 100px;
}
.office-figure__sub{
  top: -130px;
  right: 99px;
}
.figure-img__sub{
  width: 370px;
  height: 230px;
}


.detail-collection__card__figure__image{
  max-height: 580px;
}

.card-buy__header{

  padding-inline: 100px;
  margin-top: 35px;
}


.about-card{
  padding: 35px 35px 45px 35px;
}
.about-card__image{
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.about-card__body{
  margin-top: 20px;
}
.about-card__body-text{
  margin-top: 25px;
}

