

.figure-list{
    margin-top: 90px;
    margin-bottom: 70px;
    column-count: 3;
}
.figure-item{
    margin-bottom: 15px;
}
.move__span{
    padding: 14px 17px;
}
.project-list{
    margin-top: 77px;
}
.project-card__body{
    top: 50px;
}

.card-image__child{
    width: 100px;
    height: 100px;
}
.about__row{
    margin-top: 80px;
}
.about-card{
    padding: 35px 35px 45px 35px;
}
.about-card__image{
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}
.about-card__body{
    margin-top: 20px;
}
.about-card__body-text{
    margin-top: 25px;
}
.card-tips__body{
    padding: 25px 0;
}